/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
}

@media (max-width: 1000px) {
  .content {
    max-width: 700px;
  }
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding: 25px 40px;
  background-color: gainsboro;
  border-radius: 16px;
  align-items: center;
  gap: 15px;
}

.homeContent {
  width: 98%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.productsList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.productListContent {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  flex-wrap: wrap;
  width: 20%;
  border: medium groove rgba(219, 219, 219, 0.871);
  border-radius: 10px;
  margin: 10px;

 }

.productListContent img {
  width: 100%;
  align-self: flex-start;

}

.productListContent button {
  width: 90%;
  font-size:x-small;
}

.productsItem {
  display: grid;
  grid-template-columns: 1fr 1fr;

  button{
    width: 30%;
  }
}

.productsItem img {
  width: 90%;
  margin: 15px;
}

.productInfo button{
  width: 50%;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.filterForm {
  display: flex;
  margin: 5px;
  align-items: center;

  select{
    margin: 5px;
  }
}

.filterForm input {
  margin: 5px;
  width: 50%;
}


.header {
  width: 98%;
  height: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.footer {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

.footerContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
}

.footerContent div {
  padding: 10px;
  background-color: #F1F3F4;
  margin: 10px;
  border-radius: 10px;
}

.footerContent div p {
  color: #878787;
}

.footerContent img {
  width: 10%;
  padding: 5px;
}

.offForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 100%;
  margin: 10px;
  background: linear-gradient(#0B710B, #339933);
  color: #FFFFFF;
}

.discountForm {
  display: flex;
  justify-content: end;
}

.discountForm img {
  width: 70%;
}

.discountAutoForm {
  width: 50%;
  margin: 10px;
}

.discountAutoForm fieldset {
  border: none;
}

.discountAutoForm fieldset ul {
  list-style-type: none;
}

.discountAutoForm input {
  color: #FFFFFF;
  border: solid #FFFFFF 1px;
  border-radius: 10px;
  width: 90%;
  height: 50px;
  margin: 7px;
}

.discountAutoForm button {
  background-color: #FFFFFF;
  color: black;
}

.baner {
  background-image: url('./images/home.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  font-size: xx-large;
}

.baner button {
  margin-left: 30px;
  width: 20%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #339933;
  border-radius: 5px;
  border: none;
  width: 15%;
  height: 10%;
  padding: 16px 32px;
  gap: 10px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: black;
  color: white;
}

.menu_wrapper {
  display: flex;
  gap: 15px;
  list-style-type: none;
}

.lineBtn {
  margin: 5px;
  display: flex;
  align-items: center;
}

.lineBtn .line {
  flex-grow: 1;
  border: none;
  height: 1.5px; 
  background-color: #878787; 
}

.lineBtn button {
  width: 10%;
  height: 30px;
  background-color: #d1d1d1;
  padding: 10px 20px; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  margin: 0;
}

.saleList {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.saleList img {
  border-radius: 5%;
}

.listContent {
  width: 100%;
  border: medium groove rgba(255, 255, 255, 0.871);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

.listContent img {
  width: 100%;
  align-self: flex-start;
}

.categoriesListHome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
}

.listCtategori {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin: 10px;
}

.categoriesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin: 10px;
}

.categoriesList img {
  width: 100%;
  border-radius: 5%;
}


a {
  color: black;
  text-decoration: none;
}

a.active {
  color: #339933;
}

.cartPlase{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 10px;
  padding: 5px;
  
}



.countner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: medium groove rgba(219, 219, 219, 0.871);

  button{
    width: 10px;
    background-color: #FFFFFF;
    color: #878787;
    border: medium groove rgba(219, 219, 219, 0.871);
  }
}

.cartDiscountForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:#d1d1d1;
  border-radius: 5%;
  margin: 15px;
  padding: 10px;
  
}


.notFindPageContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p{
    color:#878787;
  }
}
